In [1]:
import matplotlib.pyplot as plt
from sklearn.datasets import load_digits
digits=load_digits()

In [2]:
dir(digits)

['DESCR', 'data', 'feature_names', 'frame', 'images', 'target', 'target_names']

In [3]:
x=digits.data
y=digits.target

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.3)

In [5]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()
model.fit(X_train, y_train)

RandomForestClassifier()

In [6]:
model.predict(X_test)

array([2, 9, 8, 9, 5, 1, 7, 8, 5, 1, 5, 0, 2, 6, 0, 4, 7, 1, 4, 6, 1, 2,
       9, 4, 0, 2, 5, 9, 1, 4, 8, 9, 3, 3, 6, 5, 4, 3, 2, 8, 6, 0, 8, 4,
       9, 2, 9, 9, 1, 5, 3, 4, 4, 1, 7, 1, 7, 0, 8, 7, 0, 1, 3, 1, 1, 5,
       6, 1, 1, 2, 6, 0, 0, 9, 5, 6, 9, 3, 5, 8, 1, 5, 4, 1, 1, 6, 8, 6,
       9, 1, 8, 9, 7, 6, 0, 7, 7, 6, 6, 1, 4, 0, 0, 9, 6, 1, 1, 9, 0, 4,
       0, 4, 9, 7, 3, 9, 4, 5, 1, 2, 2, 3, 8, 4, 2, 8, 7, 4, 7, 1, 4, 6,
       2, 8, 6, 9, 6, 5, 4, 4, 3, 6, 9, 3, 1, 4, 3, 2, 4, 9, 7, 7, 0, 0,
       5, 6, 4, 3, 8, 9, 1, 0, 6, 6, 7, 8, 1, 0, 0, 3, 3, 3, 2, 6, 6, 0,
       4, 3, 1, 8, 8, 8, 4, 7, 3, 6, 2, 1, 1, 2, 0, 2, 8, 5, 6, 5, 2, 4,
       1, 3, 5, 0, 8, 4, 5, 9, 0, 6, 8, 4, 1, 6, 8, 8, 1, 0, 9, 3, 4, 2,
       4, 2, 7, 5, 7, 1, 3, 9, 7, 1, 3, 7, 5, 1, 9, 3, 3, 7, 7, 2, 2, 3,
       2, 5, 6, 2, 6, 8, 2, 9, 9, 4, 7, 4, 5, 5, 4, 1, 2, 6, 8, 6, 8, 2,
       5, 9, 8, 5, 3, 8, 7, 5, 6, 9, 5, 2, 6, 9, 2, 3, 4, 0, 9, 3, 9, 9,
       7, 3, 9, 4, 1, 9, 9, 6, 8, 7, 8, 1, 5, 2, 9, 7, 4, 0, 3, 4, 6, 4,
       3, 7, 6, 6, 6, 3, 7, 2, 1, 6, 5, 5, 9, 2, 9, 1, 8, 7, 6, 7, 7, 3,
       8, 5, 8, 8, 7, 9, 2, 2, 3, 6, 9, 6, 4, 8, 4, 2, 8, 0, 3, 7, 5, 4,
       6, 2, 6, 5, 4, 4, 6, 2, 8, 5, 8, 4, 5, 3, 0, 4, 0, 1, 6, 0, 3, 1,
       8, 8, 6, 7, 4, 8, 3, 2, 9, 7, 2, 8, 5, 1, 2, 2, 4, 1, 0, 8, 8, 7,
       9, 6, 6, 0, 7, 3, 3, 3, 5, 5, 6, 5, 3, 3, 5, 3, 4, 2, 5, 3, 7, 6,
       1, 8, 6, 1, 2, 0, 0, 5, 2, 5, 7, 8, 0, 6, 6, 7, 0, 7, 2, 5, 2, 3,
       2, 6, 1, 5, 2, 2, 1, 3, 4, 4, 0, 1, 4, 7, 1, 7, 0, 1, 6, 4, 0, 9,
       6, 2, 0, 4, 9, 8, 3, 1, 6, 7, 9, 3, 1, 0, 9, 7, 2, 3, 2, 4, 7, 1,
       5, 1, 1, 9, 1, 9, 5, 6, 0, 1, 1, 3, 7, 5, 2, 4, 7, 1, 4, 6, 6, 9,
       8, 6, 4, 6, 2, 1, 7, 0, 5, 8, 9, 9, 0, 5, 0, 1, 6, 7, 0, 2, 9, 9,
       6, 6, 3, 2, 3, 0, 5, 0, 3, 5, 8, 3])

In [8]:
model.score(X_test, y_test)

0.9851851851851852

In [9]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=70)
model.fit(X_train, y_train)

RandomForestClassifier(n_estimators=70)

In [10]:
model.predict(X_test)

array([2, 9, 8, 9, 5, 1, 7, 8, 5, 1, 5, 0, 2, 6, 0, 4, 7, 1, 4, 6, 1, 2,
       9, 4, 0, 2, 5, 9, 1, 4, 8, 9, 3, 3, 6, 5, 4, 3, 2, 8, 6, 0, 8, 4,
       9, 2, 9, 9, 1, 5, 3, 4, 4, 1, 7, 1, 7, 0, 8, 7, 0, 1, 3, 1, 1, 5,
       6, 1, 1, 2, 6, 0, 0, 9, 9, 6, 9, 3, 5, 8, 1, 5, 4, 1, 1, 6, 8, 6,
       9, 1, 8, 9, 7, 6, 0, 7, 7, 6, 6, 1, 4, 0, 0, 9, 6, 1, 1, 9, 0, 4,
       0, 4, 7, 7, 3, 9, 4, 5, 1, 2, 2, 3, 8, 4, 2, 8, 7, 4, 7, 1, 4, 6,
       2, 8, 6, 9, 6, 5, 4, 4, 3, 6, 9, 3, 1, 4, 3, 2, 4, 9, 7, 7, 0, 0,
       5, 6, 4, 3, 8, 9, 1, 0, 6, 6, 7, 8, 1, 0, 0, 3, 3, 3, 2, 6, 6, 0,
       4, 3, 1, 8, 8, 8, 4, 7, 3, 6, 2, 1, 1, 2, 0, 2, 8, 5, 6, 5, 2, 4,
       1, 3, 5, 0, 8, 4, 5, 9, 0, 6, 1, 4, 1, 6, 8, 8, 1, 0, 9, 3, 4, 2,
       4, 2, 7, 5, 7, 1, 3, 7, 7, 1, 9, 7, 5, 1, 9, 3, 3, 7, 7, 2, 2, 7,
       2, 5, 6, 2, 6, 1, 2, 9, 9, 4, 7, 4, 5, 5, 4, 1, 2, 6, 8, 6, 9, 2,
       5, 9, 8, 5, 3, 8, 7, 5, 6, 9, 5, 2, 6, 9, 2, 3, 4, 0, 9, 3, 9, 9,
       7, 3, 9, 4, 1, 9, 9, 6, 8, 7, 8, 1, 5, 2, 9, 7, 4, 0, 3, 4, 6, 4,
       3, 7, 6, 6, 6, 3, 7, 2, 1, 6, 5, 5, 9, 2, 9, 1, 8, 7, 6, 7, 7, 3,
       8, 5, 8, 8, 7, 9, 2, 2, 3, 6, 9, 6, 4, 8, 4, 2, 8, 0, 3, 7, 5, 4,
       6, 2, 6, 5, 4, 4, 6, 2, 8, 5, 8, 4, 5, 3, 0, 4, 0, 1, 6, 0, 3, 1,
       8, 8, 6, 7, 4, 8, 3, 2, 9, 7, 2, 8, 5, 1, 2, 2, 4, 1, 0, 8, 8, 7,
       9, 6, 6, 0, 7, 3, 3, 3, 5, 5, 6, 5, 3, 3, 5, 3, 4, 2, 5, 3, 7, 6,
       1, 8, 6, 1, 2, 0, 0, 5, 2, 5, 7, 8, 0, 6, 6, 7, 0, 7, 2, 5, 2, 3,
       2, 6, 1, 5, 2, 2, 1, 3, 4, 4, 0, 1, 4, 7, 1, 7, 0, 1, 6, 4, 0, 9,
       6, 2, 0, 4, 9, 8, 3, 1, 6, 7, 9, 9, 1, 0, 9, 7, 2, 3, 2, 4, 7, 1,
       5, 1, 1, 9, 1, 9, 5, 6, 0, 1, 1, 3, 7, 5, 2, 4, 7, 1, 4, 6, 6, 9,
       8, 6, 4, 6, 2, 1, 7, 0, 5, 8, 9, 9, 0, 5, 0, 1, 6, 7, 0, 2, 9, 9,
       6, 6, 3, 2, 3, 0, 5, 0, 3, 5, 8, 3])

In [11]:
model.score(X_test, y_test)

0.9777777777777777

In [12]:
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
iris=load_iris()

In [13]:
dir(iris)

['DESCR',
 'data',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [14]:
import pandas as pd
df=pd.DataFrame(iris.data, columns=iris.feature_names)
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [15]:
df['target']=iris.target
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [16]:
x=df.drop('target',axis=1)
x

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [17]:
y=df['target']
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int32

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [19]:
from sklearn.ensemble import RandomForestClassifier
model1=RandomForestClassifier(n_estimators=40)

In [20]:
model1.fit(X_train, y_train)

RandomForestClassifier(n_estimators=40)

In [21]:
model1.predict(X_test)

array([2, 1, 1, 0, 0, 1, 0, 0, 2, 1, 0, 2, 1, 2, 1, 0, 1, 2, 2, 1, 0, 1,
       0, 0, 0, 2, 1, 0, 2, 2])

In [22]:
model1.score(X_test, y_test)

0.9666666666666667

In [23]:
model1.predict([[4,2,1,0.6]])

array([0])